body {
    padding-top: 70px;
    background-color: #f8f8f8;
}
footer {
    margin: 50px 0;
}
.brief {
    margin-left: 140px;
}
.user-brief {
    display: inline-block;
    white-space: nowrap;
    padding-bottom: 20px;
}
.user-avatar {
    background: #FBFCFD;
    border: 1px solid #E7EBED;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 120px;
    margin-right: 20px;
    padding: 9px;
    width: 120px;
}
.user-description {
    display: inline-block;
    vertical-align: top;
}
.amount {
    color: darkgoldenrod;
}
.title {
    font-size: 1.125em;
}
.user-item {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}
.ratings {
    color: darkgoldenrod;
}
.buttons {
    display: block;
    width: 120px;
}
.categories-sidebar {
    background-color: #faffd9;
    position: relative;
}
.sidebar {
    position: relative;
}
.main-content {
    background-color: #fdfbff;
    position: relative;
}
.footer {
    background-color: #101010;
    color: #ffffff;
    width: 100%;
}
.footer-description {
    margin-left: 20%;
}